.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 5px;
}

.links a {
  text-decoration: none;
}

.ssr,
.csr {
  background: #f3f2f2;
  border-radius: 5px;
  padding: 0.55rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  width: 100%;
}

.links a {
  color: #0067dd;
  font-weight: 400;
  text-decoration: none;
}

.box {
  background: #bab9b922;
  border-radius: 5px;
  padding: 0.75rem;
}

.links a:hover {
  text-decoration: underline;
}
